/* .navbg {
  background-image: linear-gradient(rgba(10, 25, 47, 0.619), rgba(10, 25, 47, 0.619)) !important;
  background-size: cover !important;
  background-position: center center !important;
  background-repeat: no-repeat;
} */
